@model IEnumerable<WasteDonation>

<div class="card shadow border-0 mt-4 mb-5  rounded">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Donation List</</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 w-200" >
        <div class="row pb-3">
            <div class="col-6 text-end mb-3">
            </div>
            <div class="col-6 text-end mb-3">
                <a asp-controller="Donation" asp-action="Create" class="btn btn-outline-dark"><i class="bi bi-plus-circle-fill"></i>Create Donation</a>
            </div>
        </div>
        <table class="table table-bordered table-borderless table-responsive">
            <thead>
                <tr>
                    <th class="text-center">
                        Date and Time
                    </th>
                    <th class="text-center">
                        Business Name
                    </th>
                    <th class="text-center">
                        Contact Person
                    </th>
                    <th class="text-center">
                        Contact Number
                    </th>
                    <th class="text-center">
                        GlassBottles Weight
                    </th>
                    <th class="text-center">
                        GlassBottles Price
                    </th>
                     <th class="text-center">
                        Metals Weight
                    </th>
                    <th class="text-center">
                        Metals Price
                    </th>
                    <th class="text-center">
                        Plastic Weight
                    </th>
                    <th class="text-center">
                        Plastic Price
                    </th>
                    <th class="text-center">
                        Paper Weight
                    </th>
                    <th class="text-center">
                        Paper Price
                    </th>
                    <th class="text-center">
                        Cardboard Weight
                    </th>
                    <th class="text-center">
                        Cardboard Price
                    </th>
                    <th class="text-center">
                        AluminumCans Weight
                    </th>
                    <th class="text-center">
                        AluminumCans Price
                    </th>
                    <th class="text-center">
                        Total Sale Price
                    </th>
                    <th class="text-center">
                        Total Weight Price
                    </th>
                    <th class="text-center">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var donation in Model.OrderBy(c => c.BusinessName))
                {

                    <tr class="table-striped-columns">
                        <td class="text-center">
                            @donation.Date
                        </td>
                        <td class="text-center">
                            @donation.BusinessName
                        </td>
                        <td class="text-center">
                            @donation.ContactPerson
                        </td>
                        <td class="text-center">
                            @donation.ContactNumber
                        </td>
                        <td class="text-center">
                                @donation.WeightAndPrice.GlassBottlesWeight
                        </td>
                        <td class="text-center">
                            @donation.WeightAndPrice.GlassBottlesPrice
                        </td>
                        <td class="text-center">
                            @donation.WeightAndPrice.MetalsWeight
                        </td>
                        <td class="text-center">
                            @donation.WeightAndPrice.MetalsPrice
                        </td>
                        <td class="text-center">
                            @donation.WeightAndPrice.PlasticWeight
                        </td>
                        <td class="text-center">
                            @donation.WeightAndPrice.PlasticPrice
                        </td>
                        <td class="text-center">
                            @donation.WeightAndPrice.PaperWeight
                        </td>
                        <td class="text-center">
                            @donation.WeightAndPrice.PaperPrice
                        </td>
                        <td class="text-center">
                            @donation.WeightAndPrice.CardboardWeight
                        </td>
                        <td class="text-center">
                            @donation.WeightAndPrice.CardboardPrice
                        </td>
                        <td class="text-center">
                            @donation.WeightAndPrice.AluminumCansWeight
                        </td>
                        <td class="text-center">
                            @donation.WeightAndPrice.AluminumCansPrice
                        </td>
                        <td class="text-center">
                            @donation.WeightAndPrice.TotalSalePrice
                        </td>
                        <td class="text-center">
                            @donation.WeightAndPrice.Totalweight
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-4">
                                    <a class="btn btn-outline-primary rounded " asp-controller="Donation" asp-action="Detail" asp-route-id="@donation.Id" style="width:100px"><i class="bi bi-eye-fill"></i>Detail</a>
                                </div>
                                <div class="col-4">
                                    <a class="btn btn-outline-secondary rounded" asp-controller="Donation" asp-action="Edit" asp-route-id="@donation.Id" style="width:100px"><i class="bi bi-pencil-square"></i>Edit</a>
                                </div>
                                <div class="col-4">
                                    <a class="btn btn-outline-danger rounded" asp-controller="Donation" asp-action="Delete" asp-route-id="@donation.Id" style="width:100px"><i class="bi bi-trash3-fill"></i>Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
